<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Atzera</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="230">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Eguna</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d27">
          <span class="day">27</span> Ostirala
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d28">
          <span class="day">28</span> Larunbata
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d29">
          <span class="day">29</span> Igandea
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d30">
          <span class="day">30</span> Astelehena
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d1">
          <span class="day">1</span> Asteartea
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d3">
          <span class="day">3</span> Osteguna
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d4">
          <span class="day">4</span> Ostirala
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d5">
          <span class="day">5</span> Larunbata
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d6">
          <span class="day">6</span> Igandea
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" width="235">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Informazioa</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/transport">
          Garraio publikoa
          <i class="icon ion-map"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/txosnaschedule">
          Txosnen ordutegia
          <i class="icon ion-clock"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/tournaments">
          Lehiaketak
          <i class="icon ion-ribbon-a"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/telephones">
          Telefono zenbakiak
          <i class="icon ion-ios7-telephone"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/about">
          Honi buruz
          <i class="icon ion-beaker"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
