<ion-view title="Mungiako Jaiak 2014">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-ios7-information"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list" id="tournaments">
  
    <div class="item item-divider">
      Koadrillen IV. txapelketa
    </div>
    <div class="item">
      <div class="title1">Uztailak 4, Ostirala, 18:00.</div>
      <div class="title2 padding-left">Izen emotea Ekainak 26-rarte Gaztegunean (Aita Elorriaga 1).</div>
      <div class="title2 padding-left">Gutxienez 12 lagun.</div>
      <div class="title2 padding-left">Informazio gehiago Gaztegunean.</div>
    </div>
    <div class="item">
      <div class="title1">Sariak</div>
      <div class="title2 padding-left">1. 500€</div>
      <div class="title2 padding-left">2. 300€</div>
      <div class="title2 padding-left">3. 200€</div>
      <div class="title2 padding-left">4. 150€</div>
      <div class="title2 padding-left">5. 100€</div>
    </div>

    <div class="item item-divider">
      Karromatoen II. desfile-lehiaketa
    </div>
    <div class="item">
      <div class="title1">Uztailak 5, Larunbata, 19:00.</div>
      <div class="title2 padding-left">Izen emotea Ekainak 26-rarte Gaztegunean (Aita Elorriaga 1).</div>
      <div class="title2 padding-left">Gutxienez 8 lagun.</div>
      <div class="title2 padding-left">Informazio gehiago Gaztegunean.</div>
    </div>
    <div class="item">
      <div class="title1">Sariak</div>
      <div class="title2 padding-left">1. 500€</div>
      <div class="title2 padding-left">2. 300€</div>
      <div class="title2 padding-left">3. 200€</div>
      <div class="title2 padding-left">4. 150€</div>
      <div class="title2 padding-left">5. 100€</div>
    </div>

    <div class="item item-divider">
      Playback lehiaketa
    </div>
    <div class="item">
      <div class="title1">Ekainak 30, Astelehena, 22:00.</div>
      <div class="title2 padding-left">Maxtin plazan, 14 urtetik gorakoentzat.</div>
      <div class="title2 padding-left">Oihan Vegak aurkeztua, ta ostean, diskofesta.</div>
      <div class="title2 padding-left">Izen emotea Ekainak 26-rarte Gaztegunean (Aita Elorriaga 1).</div>
      <div class="title2 padding-left">Informazio gehiago Gaztegunean.</div>
    </div>
    <div class="item">
      <div class="title1">Sariak</div>
      <div class="title2 padding-left">1. 500€</div>
      <div class="title2 padding-left">2. 250€</div>
      <div class="title2 padding-left">3. 100€</div>
    </div>

    <div class="item item-divider">
      Gaztetxoen playback lehiaketa
    </div>
    <div class="item">
      <div class="title1">Uztailak 4, Ostirala, 18:00.</div>
      <div class="title2 padding-left">Maxtin plazan, 13 urtetarartekoentzat.</div>
      <div class="title2 padding-left">DJ Urtzak aurkeztua.</div>
      <div class="title2 padding-left">Izen emotea Ekainak 26-rarte Gaztegunean (Aita Elorriaga 1).</div>
      <div class="title2 padding-left">Informazio gehiago Gaztegunean.</div>
    </div>

    <div class="item item-divider">
      Tortilla txapelketa
    </div>
    <div class="item">
      <div class="title1">Uztailak 4, Osteguna, 17:00.</div>
      <div class="title2 padding-left">Uriguen parkean.</div>
      <div class="title2 padding-left">Hiru kategoria: 8-11 urte, 12-18 urte, +18 urte.</div>
      <div class="title2 padding-left">Saskel Saskibaloi Taldeak antolatua.</div>
    </div>

    <div class="item item-divider">
      Sukalkia
    </div>
    <div class="item">
      <div class="title1">Uztailak 4, Ostirala, egun osoa.</div>
      <div class="title2 padding-left">Uriguen parkean.</div>
      <div class="title2 padding-left">Begiratu egitaraua. Sukalki txapelketaren oinarri osoak eta informazio zehatza Mungiako web orrian.</div>
    </div>

    <div class="item item-divider">
      Gehiago
    </div>
    <div class="item">
      <div class="title2">Futbol-7 eta futbitoko 'Kepa Deuna' txapelketakren finalak eta sari banaketa Ekainak 28-an (begiratu egirataua).</div>
      <div class="title2">Junior mailako 'San Pedro' txirrindularitza saria Ekainak 28-an (begiratu egitaraua).</div>
      <div class="title2">'Kepa deuna' pelota txapelketaren finala, Uztailak 3 (begiratu egitaraua).</div>
    </div>


  </div>
  </ion-content>
</ion-view>
